
@model IEnumerable<Student>

<h2>All Student</h2>
<form>
    <input type="text" class="form-horizontal" id="SearchByName" name="SearchByName" placeholder="SearchByName" />
    <input type="Submit" class="btn btn-success btn-sm" value="Search" />
    <input type="text" id="SearchByDept" class="form-horizontal" name="SearchByDept" placeholder="SearchByDept" />
    <input type="Submit" class="btn btn-success btn-sm" value="Search" />
    <input type="text" id="SearchByAddress" class="form-horizontal" name="SearchAddress" placeholder="SearchByAddress" />
    <input type="Submit" class="btn btn-success btn-sm" value="Search" />
    <br /><br />
</form>
<table class="table  table-bordered  alert-success table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Dept</td>
            <td>Email</td>
            <td>Address</td>
            <td>ContactNo</td>
            <td>Cv</td>
            <td>Option</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Student S in Model)
        {
            <tr>
                <td>@S.Id</td>
                <td>@S.Name</td>
                <td>@S.Dept</td>
                <td>@S.Email</td>
                <td>@S.Address</td>
                <td>@S.ContactNo</td>
                <td>@S.Cv</td>
                <td>
                    <a href="EditStudent?id=@S.Id" class="btn btn-success">Edit</a>
                    <a href="DetailStudent?Id=@S.Id" class="btn btn-warning">Detail</a>
                    <a href="DeleteStudent?Id=@S.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
    {
    <script>

        $(function () {




            $('.DeleteStudent').click(function () {
                var clickedbutton = $(this);
                var studentid = $(this).data("studentid");
                $(this).text("Please wait");
                $.ajax({
                    url: "/student/deletestudentajax",
                    type:"POST",
                    data: {
                        Id: studentid,
                        Email: "a@a.com"
                    },
                    complete: function (myresult) {



                        if (myresult.responseText == "Yes") {
                            clickedbutton.parent().parent().addClass("danger");
                            clickedbutton.parent().parent().fadeOut(3000);
                        } else {
                            alert("Please try again");
                        }
                    }
                });


            });
        });

    </script>


}
